@media (max-width: 1100px){
    .nav_menu_container{
        display: none;
        
        
    }
  
    .nav_hamburger{
        display: block;
        
    }

    .hero{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero_text{
        order: 2;
        align-items: center;
        justify-content: center;
    }
    .hero_text h1{
        text-align: center;
        font-size: 54px;
    }
    .hero p{
        text-align: center;
    }
    .hero_brands{
        flex-direction: column;
        gap: 20px;
    }
    .brand_logos{
        gap: 10px;
        justify-content: center;
    }
    
.parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px;
    row-gap: 24px;
    margin-bottom: 24px;
}
    
.div1,.div2,.div3,.div4,.div5{
   
    width: 80vw;
    margin: auto;
}
.div3_text{
    padding: 0px;
    padding-top: 24px;

}
.div3_image{
  width:auto;
}
.div2 {
    grid-row-start: 2;
}

.div3 {
    flex-direction: column;
    grid-row-start: 3;
}

.div4 {
    grid-row-start: 4;
}

.div5 {
    grid-row-start: 5;
}
.forbes h1{
    font-size: 32px;
}
.space h1{
    font-size: 42px;
}
.cs{
    padding: 32px 24px;
    gap: 50px;
}
.cs1{
    flex-direction: column;
    gap: 50px;
}
.cs1_image{
    width: 90%;
    max-width: unset;
}
.cs1_text{
    max-width: unset;
    width: 90%;
}
.cs1_text p{
    font-size: 32px;
}
.cs2_1{
    width: 90%;
    margin: auto;
    gap: 36px;
}
.cs2_2{
    display: none;
}   
.cs2_1{
    flex-direction: column;

}
 .about{
    flex-direction: column;
 }
 .about2_container img{
    display: none;
 }
 .about1,.about2{
     width: 90vw;
  margin: auto;
  max-width: 1400px;
 }
 .about2_container{
    height: auto;
    padding: 24px;
 }
}


@media (max-width:700px)
{
.hero_text{
    min-width: 450px;

}
.hero_text h1{
    font-size: 42px;
}
.forbes h1{
    font-size: 26px;
}
.space img:nth-of-type(2){
  display: block;
  
}
.space img:nth-of-type(1){
  display: none;
}
.cs1_text p{
    font-size: 22px;
}

}




@media (max-width:500px){
    .login2{
        display: none;
    }
    .hero{
        height: auto;
    }
    .hero_image img{
         width: clamp(268px,80vw,400px);
        
    }
    .hero_text{
         width: clamp(268px,80vw,400px);
         min-width: unset;
       
    }
    .hero_text p{
        font-size: 16px;
    }
   .hero_buttons{
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 12px;

   }
   .brand_logos img:nth-child(5), .brand_logos img:nth-child(6){
    display: none;
   }
   .parent h1{
    font-size: 24px;

   }
   .cross p{
    font-size: 8px;
   }
   .cross img:nth-of-type(1){
    display: none;
   }
   .cross img:nth-of-type(2){
    display: block;
   }

   .space h1{
    font-size: 32px;
   }
 .cs2_1_container p{
    font-size: 14px;
 }
.cs2_1_container{
    width: 80%;
}
.cs{
    gap: 24px;
}
.cs1{
    gap: 24px;
}
.cs1_image{
    border-radius: 12px;
}
.footer_links{
    gap: 10px;
    
}
}