@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-ExtraBold.otf') format('opentype');
  font-weight: 800;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Inter';

}
/* navbar styling */
nav ,.nav_menu_container,.login{

  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  justify-content: space-between;
  width: 95vw;
  margin: auto;
  max-width: 1400px;
  padding: 15px 0px;
}

.nav_hamburger{
  display: none;
}

.nav_menu_container{
  /* width: 700px; */
  gap: 35px;
  
}
.login{
 gap: 15px;
}
.login_container{
  background-color: black;
  color: white;
  padding: 7px 15px;
  border-radius: 7px;
}




/* hero styling */
.hero{
  width: 90vw;
  height: 400px;
  margin: 32px auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.hero_text{
  min-width: 600px;
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 16px;
  /* justify-content: flex-start; */
}
.hero_text h1{
  max-width: 600px;
  font-size: 60px;
  
  
  
}
.hero_text p{
  font-size: 22px;
  max-width: 500px;
}
.hero_buttons button{
  
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  gap: 8px;
}
.button1{
  background-color:#0075de ;
  color: white;
}
.button2{
  background-color:#f2f9ff ;
  color: #005bab;
}
.hero_image img{
  
  width: clamp(400px,40vw,650px);

}

/* hero brands */
.hero_brands{
  max-width: 1400px;
  width: 90vw;
  margin: 24px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
 
}
.hero_brands h2{
  font-size: 14px;
  color:#0000008a ;
  white-space: nowrap;
  
}
.brand_logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 35px;
  flex-wrap: wrap;
}
.brand_logos img{
  width: 80px;
}


/* info cards */

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    max-width: 1400px;
    margin: auto;
    width: 90vw;
    justify-items: center;
    
}
    
.div1,.div2,.div4,.div5{
  border-radius: 16px;
  display: flex;
  flex-direction: column;
 
  width:clamp(450px,45vw,600px);
}
.div1{
  background-color:#fef3f1 ;
}
.div2{
  background-color: #f2f9ff;
}
.div3 {
  border-radius: 16px;
  background-color: #fff5e0;
  width: 90vw;
  height: auto;
  max-width: 1400px;
  margin: auto;
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
}

.div4 {
  background-color: #fcfbfb;
    grid-row-start: 3;
}

.div5 {
  background-color: #f2fafa;
    grid-row-start: 3;
    
}
.heading{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 0px 0px 24px;
  gap: 10px;
}
.parent h1{
  font-size: 28px;
  padding:0px 0px 24px 24px;
}
.heading img{
  width:28px;
  height: 28px;
  
}
.heading3{
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 24px;
  gap:10px
}
.heading3 img{
  width: 28px;
  height: 28px;
}
.div3_image{
  width: 600px;
}
.div3_text{
  padding: 24px;
}

/* cross */


.cross{
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 1400px;
}
.cross p{
  font-size: 16px;
}
.cross img{
  width: 80%;
}
.cross img:nth-of-type(2){
  display: none;
}

/* forbes */